.logo {
    padding-top: 109px;
    height: 92px;
    width: 272px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.boxes {
    background-position: -132px -38px;
    opacity: .55;
}

#top-inside {
    margin: 0 10px 0 15px;
}

#top-left {
    position: absolute;
    margin: 21px 0 0 25px;
    top: 0;
    left: 0;
}

#top-right-words {
    position: absolute;
    display: inline-block;
    margin: 21px 120px 0 0;
    top: 0;
    right: 0;
}

#icons {
    position: absolute;
    top: 0;
    right: 0;
}

#boxes {
    opacity: 0.75;
    margin: 0 17px 13px 0;
}

#pfp {
    border-radius: 50%;
    margin: 14px 28px 7px 0;
}

#boxes:hover {
    opacity: 1;
}

a {
    /*display: inline-block;*/
    font-family: arial,sans-serif;
    font-size: 13px;
    color: #000;
    opacity: 0.75;
    text-decoration: none;
    
}

a:hover {
    text-decoration: underline;
}